<header>
    <div class="container">
      <div class="logo">
        <h1>Turistička Agencija</h1>
      </div>
    </div>
  </header>
  
  <main>
    <section id="author-info">
      <div class="container">
        <h2>O autoru</h2>
        <p>Ja sam osnivač i vlasnik Turističke Agencije. S više od 10 godina iskustva u turizmu, strastveno se bavim pružanjem najboljih putničkih iskustava. Kontaktirajte me za bilo kakve informacije ili pitanja.</p>
        <div class="contact-info">
          <p>Email: kostaemail.com</p>
          <p>Telefon: +123456789</p>
          <p>Adresa: Doza Djerdja, Novi Sad, Srbija</p>
        </div>
        <div class="social-links">
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
          </div>
      </div>
    </section>
    
    <section id="contact-form">
      <div class="container">
        <h2>Kontaktirajte autora</h2>
        <form>
          <input type="text" name="name" placeholder="Ime" required>
          <input type="email" name="email" placeholder="Email" required>
          <textarea name="message" placeholder="Poruka" required></textarea>
          <button type="submit">Pošalji</button>
        </form>
      </div>
    </section>
  </main>
  
  <footer>
    <div class="container">
      <p>&copy; 2024 Turistička Agencija.</p>
    </div>
  </footer>
  