<header>
    <div class="container">
      <div class="logo">
        <h1>Turistička Agencija</h1>
      </div>
    </div>
  </header>
  
  <main>
    <section id="about">
      <div class="container">
        <h2>O nama</h2>
        <p>Turistička Agencija je vaš pouzdan partner u organizaciji putovanja. S više od 20 godina iskustva, posvećeni smo pružanju vrhunskih usluga našim klijentima. Naš tim stručnjaka stoji vam na raspolaganju kako bi vam omogućili nezaboravno iskustvo putovanja. Bez obzira želite li istražiti istorijske gradove, uživati u prekrasnim plažama ili doživjeti egzotične destinacije, mi smo tu da vaše snove pretvorimo u stvarnost.</p>
      </div>
    </section>
  </main>
  
  <footer>
    <div class="container">
      <p>&copy; 2024 Turistička Agencija.</p>
    </div>
  </footer>
  